/* This scss file is based on the bootstrap theme 'morph' */
/* author: yyraven https://github.com/yyraven */
/* distribution: https://yyraven.github.io/quarto-blog/work/251215_resources_theme_nib/ */

/*-- scss:defaults --*/
/* Color Palette */
$body-bg: #0f0f0f;
$body-color: #aaaaaa;
$link-color: #949cb0;
$link-hover-color: #4162b5;
$code-color: #aaaaaa;
$code-bg: #2b2b2b;
$code-block-bg: $code-bg;

/* Spacing and Borders */
$padding: 1.2rem;
$margin: 1rem;
$border-radius: 0;
$divider-color: $link-color;
* {
  box-shadow: none !important;
  text-shadow: none !important;
}

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:rules --*/
/* Base Styles */
body {
  background-color: $body-bg;
  color: $body-color;
  font-family: 'Noto Serif', 'Noto Serif SC', serif;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  padding: $padding;
}

/* Links */
a {
  color: $link-color;
  text-decoration: underline;
  text-decoration-thickness: 2px;

  &:hover {
    color: $link-hover-color;
    text-decoration-style: wavy;
  }
}

/* Code */
code {
  background-color: $code-bg;
  color: $code-color;
  font-family: 'Fira Code', monospace;
}

pre code {
  color: $body-color;
}

/* Headings */
h1 {
  font-family: 'Noto Serif SC', serif;
  color: $link-color;
  margin: $margin 0;
}

h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', 'Noto Serif SC', serif;
  color: $link-color;
  margin: $margin 0;
}

/* Buttons */
.button {
  background-color: $link-color;
  color: $body-bg;
  font-family: 'Noto Serif SC', serif;
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 1px;
  background-image: none;

  &:hover {
    color: $body-bg;
    background-color: $link-hover-color;
    border-color: $link-hover-color;
  }
}

/* Blockquotes */
blockquote {
  background-color: $code-block-bg;
  border-left: 4px solid $link-color;
  padding: 1rem;
  font-style: italic;
}

.callout {
  background-color: $code-block-bg;
  color: $link-color;
  padding: 0rem;
}

/* Lists */
ul {
  list-style-type: square;
  padding-left: 2rem;

  li {
    margin-bottom: 0.5rem;
  }
}

/* Divider */
hr {
  border: none;
  text-align: center;
  margin: 2rem 0;
  opacity: 1;

  &::before {
    content: "......";
    font-family: 'Noto Serif SC', serif;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

/* Navbar */
.navbar {
  background: $body-bg;
  border-bottom: 1px solid;
  font-family: 'Noto Serif SC', serif;
  text-transform: uppercase;
}

.navbar a:hover{

}
.navbar,
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-text,
.navbar .navbar-toggler,
.navbar * {
  color: $link-hover-color !important;
  border-color: $link-hover-color !important;
}

.quarto-secondary-nav,
.quarto-secondary-nav * {
  color: $link-color;
  border-bottom: none !important;
}

/* makes it light on dark */
.navbar-toggler-icon {
  filter: invert(0.9) !important;
  opacity: 0.95;
}

body.quarto-dark .quarto-color-scheme-toggle {
  filter: invert(0.9);
  opacity: 0.95;
}

/* Sidebar */
.sidebar a:hover {
  transform: translateX(2px);
}

.sidebar a.active {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.sidebar ul ul {
  padding-left: 0.6rem;
  opacity: 0.85;
}

/* disable responsive sidebar on mobile */
@media (max-width: 992px) {
  .quarto-btn-toggle {
    display: none;
  }
  .flex-grow-1 {
    pointer-events: none;
  }
}

#TOC a {
  transition: all 0s ease;
}

/* Details */
details p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  color: $link-color;
  font-size: 0.8rem;
}

/* Scrollbar */
html {
  scrollbar-color: $link-color rgba(0,0,0,0);
  scrollbar-gutter: none!important;
  scrollbar-width: thin;
  border-radius: 0;
}

/* Drop borders */
.callout,
.quarto-listing-table,
.quarto-post,
.quarto-header,
.zindex-over-content,
.quarto-appendix, {
  border: none !important;
}

#quarto-margin-sidebar {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#quarto-margin-sidebar::-webkit-scrollbar {
  display: none;
}

.listing-actions-group,
.input-group,
.form-select,
.quarto-listing-table {
  font-family: 'Noto Serif', 'Noto Serif SC', serif;
  background: none !important;
  font-size: 1rem;
}

::selection {
  background-color: rgba($link-color, 0.5);
}

#quarto-appendix,
#quarto-appendix *,
.quarto-appendix,
.quarto-appendix * {
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
}
